@import "tailwindcss";

@theme {
  --color-background: #09090b;
  --color-accent: #8b5cf6;
  --color-text-primary: #f4f4f5;
}

html {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html.dark {
  color-scheme: dark;
}

body {
  min-height: 100vh;
}
